body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    position: relative;
    overflow: hidden;
}

body {
    background: linear-gradient(to bottom right, #359EFF, #012D56 130%);
}

body:before {
    content: "";
    position: absolute;
    bottom: -40%;
    left: -60%;
    width: 80vw;
    height: 80vw;
    background: white;
    transform-origin: bottom left;
    transform: rotate(45deg);
    z-index: 1;
}

.header {
    text-align: center;
    padding-top: 2%; 
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%; 
}
.logo {
    max-width: 2.8rem;
    padding-bottom: 10px;
}

.title {
    margin-top: 5px;  
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 5px;
}

#tos {
    position: absolute;
    top: 40%; 
    right: 5%; 
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 4px;
}

.contentDesktop {
    overflow-y: auto; 
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    z-index: 2;
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
}
.contentMobile {
    display: none;
}

.left_column {
    flex-basis: 45%; 
    /*border: solid 2px  black;*/
}

.right_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 55%;
    box-sizing: border-box;
    align-self: flex-start;

    padding: 70px 170px 70px 0;
}

.mainText {
    width: 500px;
    padding-bottom: 4rem;
    color: #FFF;
    text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.30);
    font-family: Montserrat;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 0.5rem;
    text-align: left;
}


.featureRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: baseline;
    padding-bottom: 7vh;
}

.feature {
    padding: 0 2vw 0 0;
    display: flex;
    flex-direction: row;
    align-content: baseline;
    gap: 1.2rem;
    align-items: center;
    
    color: #FFF;
    font-family: Montserrat;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 3.5px;
}

.icon {
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 1.5rem;
    color: #6B6B6B;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    gap: 6rem;
    align-items: center;
    margin-top: 5vh;
}


.buttonColumn {
    box-sizing: border-box;
    max-width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;   
    align-items: center;

    color: #FFF;
    font-family: Montserrat;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 2.75px;
    height: 120px;
}

.buttonColumn#signup {
    padding-bottom: 5px;
    font-size: 1rem;
}

div > img {
    height: 50px;
}

a {
    text-decoration: none;
}

.formButton {
    height: 50px;
    width: 160px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: #0f0f0f;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-size: 1rem; 
    font-weight: 700;
}

#container3D {
    position: absolute;
    width: 40%;
    height: 100%;
    left: 0;
    z-index: 4;
}
  
  .progress-bar {
    width: 200px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
  }
  
  .progress {
    height: 100%;
    width: 0;
    background-color: #ffffff;
    border-radius: 10px;
    transition: width 0.3s ease-in-out;
  }
  
  #loading-text {
    position: absolute;
    width: 40%;
    left: 30%;
    top: 30%;
    z-index: 4;
    color: #fff;
    font-size: 18px;
  }


@media only screen and (min-width: 2000px) {
    .formButton {
        height: 80px; 
        width: 200px; 
        font-size: 1.5rem;
    }
    
    a > img {
        height: 80px; 
    }
    .buttonRow {
        height: 200px;
        padding-top: 0;
    }
    .buttonColumn {
        gap: 2rem;
        max-width: 380px;
    }
    #signup span {
        font-size: 1.2rem;
        margin-bottom: -20px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1300px) {
    .logo {
        max-width: 2rem;
        max-height: 2rem;
    }
    #tos {
        font-size: 0.8rem;
    }
    .title {
        font-size: 1.1rem;
    }
    .right_column{
        padding-right: 50px;
        font-size: 0.5rem;
        max-width: 400px;
    }
    .mainText {
        width: 350px;
        font-size: 2rem;
        padding-bottom: 3rem;
    }
    .featureRow{

    }
    .feature {
        font-size: 1rem;
        letter-spacing: 2px;
    }
    .icon {
        width: 30px;
        height: 30px;
        line-height: 30px;
        padding-left: 3px;
    }

    .buttonRow :first-child{
        gap: 0.5rem;
    }

    .buttonColumn{
        font-size: 1rem;
    }
    .buttonColumn#signup {
        font-size: 0.8rem;
    }

}

@media only screen and (max-width: 768px) {
    body {
        background: linear-gradient(to bottom, #359EFF, #04223f );
    }
    body {
        overflow:auto;
    }

    .header {
        flex-direction: column;
        padding-top: 2vh;
    }

    #container3D, .contentDesktop, #tos, .logo, body::before {
        display: none;
    }

    .contentMobile{
        display: inline-block;
        width: 100%;
        height: 60vh;
    }

    .right_column {
        padding: 0px 0;
        height: 90%;
        justify-content: space-evenly;
        flex-grow: 1;
    }

    .left_column{
        height: 35vh;
        display: flex;
        justify-content: center; 
        align-items: center; 
    }

    .left_column img {
        height: 90%;
    }

    .mainText {
        width: 350px;
        text-align: center;
        padding-bottom: 0vh;
        font-size: 1.6rem;
        margin: 1vh auto;
        text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.20);
        font-weight: 500;
        line-height: 100%;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
    }

    .featureRow {
        flex-direction: column;
        padding-bottom: 0vh;
    }

    .feature {
        width: 255px;
        padding: 4px 10px;
        justify-content: center;
        gap: 1rem;
        font-size: 1.1rem;
        text-align: center;
        margin:5px auto;
        border-radius:30px;
        justify-content: left;
        letter-spacing: 2px;
        background-color: white;
        color: #000000;
    }

    .icon{
        height: 28px;
        width: 28px;
        text-align: center;
        line-height: 28px;
        color: white;
        background-color: #424242;
        margin: 0;
        padding: 0;
        font-size: 1.2rem;
        padding-left: 2px;
    }

    .buttonRow {
        justify-content: space-around;
        gap: 1rem;
        padding: 0 4vw;
        margin-top: 2vh;
    }

    .buttonRow :first-child {
        gap: 0.4rem;
    }

    .buttonColumn {
        margin-bottom: 10px;
        font-size: 1rem;
        font-weight: 500;
    }

    .buttonColumn#signup {
        font-size: 0.9rem;
    }

    .formButton{
        width: 150px;
    }

    .formButton, a > img {
        margin: 0 auto; 
    }

}